{# Affix 원본 구현: 고정 대상 콘텐츠를 호출형 macro로 구성합니다. #}
{% macro affix(content='', target='', offsetTop='unset', offsetBottom='unset', skin='', interactive=true, className='') %}
{%- set affixContent = caller() if caller else content -%}
{%- set resolvedSkin = skin if skin in ['bar', 'anchor'] else '' -%}
<div
  class="affix{{ (' ' + className) if className else '' }}"
  data-component="Affix"
  {% if interactive %}data-affix{% endif %}
  {% if target %}data-target="{{ target }}"{% endif %}
  {% if offsetTop != 'unset' %}data-offset-top="{{ offsetTop }}"{% endif %}
  {% if offsetBottom != 'unset' %}data-offset-bottom="{{ offsetBottom }}"{% endif %}
>
  <div class="affix_placeholder" aria-hidden="true" hidden></div>
  <div class="affix_target{% if resolvedSkin %} affix_{{ resolvedSkin }}{% endif %}">
    {{ affixContent | safe }}
  </div>
</div>
{% endmacro %}

{# include 시 기본 데모 (from import 시에는 실행되지 않음) #}
{% call affix(skin='bar') %}<span class="affix_bar-label">고정 영역</span>{% endcall %}
