<ul class="list list_bordered" data-component="List">
  <li class="list_item" data-component="ListItem">
    <span class="avatar color_primary" aria-hidden="true">홍</span>
    <div class="list_content"><span class="list_title">홍길동</span><span class="list_meta">프론트엔드 개발자</span></div>
  </li>
  <li class="list_item" data-component="ListItem">
    <span class="avatar color_success" aria-hidden="true">김</span>
    <div class="list_content"><span class="list_title">김철수</span><span class="list_meta">백엔드 개발자</span></div>
  </li>
</ul>
