@mixin flex-row($align: center, $justify: null) {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: $align;
  align-items: $align;

  @if $justify == center {
    -webkit-box-pack: center;
    justify-content: center;
  }
}

@mixin flex-wrap {
  -webkit-box-lines: multiple;
  flex-wrap: wrap;
}

@mixin child-gap($size) {
  > * + * {
    margin-left: $size;
  }
}

@mixin fill-height {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

@mixin touch-scroll {
  -webkit-overflow-scrolling: touch;
}

@mixin invert-logo {
  -webkit-filter: invert(1);
  filter: invert(1);
}

@mixin drawer-transform($x) {
  -webkit-transform: translate3d($x, 0, 0);
  transform: translate3d($x, 0, 0);
}
