{# Avatar 원본 구현: 브라우저 DOM 이벤트와 상태 클래스를 연결하고 관련 접근성 속성을 동기화합니다. #}
<div class="avatar_group" {# Avatar 루트에 공통 클래스와 data-* 계약을 둡니다. #}
  data-component="AvatarGroup" aria-label="팀 멤버 3명">
  {# 내부에 데이터 표시 콘텐츠를 배치합니다. #}
  <span class="avatar color_primary" data-component="Avatar" aria-hidden="true">김</span>
  <span class="avatar color_success" data-component="Avatar" aria-hidden="true">이</span>
  <span class="avatar color_warning" data-component="Avatar" aria-hidden="true">
    박<span class="avatar_badge color_success" aria-label="온라인"></span>
  </span>
</div>
