{# grid 클래스에 열 수, 간격, 비율 등의 부모 변형 클래스를 함께 적용합니다. #}
<div class="grid grid_cols-3" data-component="Grid">
  {# 모든 자식은 부모가 만든 Grid 트랙에 자동으로 배치됩니다. #}
  <div class="grid_demo-cell">1</div>
  <div class="grid_demo-cell">2</div>
  <div class="grid_demo-cell">3</div>
</div>
