{# Container 원본 구현: 레이아웃 속성과 자식 콘텐츠를 공통 CSS 클래스 및 시맨틱 루트에 연결합니다. #}
{# as · size · fluid · content 변수로 루트와 너비·본문을 구성합니다. #}
{% set tag = as | default('div') %}
{% set sizeClass = (' container_' + size) if size else '' %}
{% set fluidClass = ' container_fluid' if fluid else '' %}
<{{ tag }} class="container{{ sizeClass }}{{ fluidClass }}" data-component="Container">
  {# Container가 감쌀 콘텐츠를 배치합니다. #}
  {{ content | default('<div class="container_demo-fill">기본 Container</div>') | safe }}
</{{ tag }}>
